.sidebar {
  overflow: auto;
  height: calc(100vh - 64px);
  overflow-y: scroll;
}

.search {
  color: #141414;
  width: 275px;
  padding-left: 25px;
  position: fixed;
  z-index: 90;
}

.site-layout .site-layout-background {
  height: calc(100vh - 64px);
}

.sidebar-settings {
  position: sticky;
  bottom: 0;
  padding: 12px 8px;
  background: #001529;

  .sidebar-settings-button {
    color: rgba(255, 255, 255, 0.65);
    text-align: left;

    &:hover {
      color: #fff;
    }
  }
}
