.sidebar {
  overflow: auto;
  height: calc(100vh - 64px);
  overflow-y: scroll;
}

.search {
  color: #141414;
  width: 275px;
  padding-left: 25px;
  position: fixed;
  z-index: 90;
}

.site-layout .site-layout-background {
  height: calc(100vh - 64px);
}
